[remote "upstream"]¬
url = https://github.com/errbit/errbit.git¬
fetch = +refs/heads/*:refs/remotes/upstream/*¬
[remote "production"]¬
url = https://git.heroku.com/errbit-expertiza2019.git¬
fetch = +refs/heads/*:refs/remotes/heroku/*¬
[remote "heroku"]¬
url = https://git.heroku.com/errbit-expertiza2019.git¬
fetch = +refs/heads/*:refs/remotes/heroku/*¬

